<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="static/css/jquery-ui-1.8.13.custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

        <meta name="description" content="Connect with strangers by guessing their real identity."/>
        <meta property="og:site_name" content="GuessChat"/>
        <meta property="og:description" content="Connect with strangers by guessing their real identity."/>

        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        <div style="padding:12px;border-bottom:1px solid #AAA;">
            <div style="font-weight:bold;">
                <a href="/">
                    <table>
                        <tr>
                            <td>
                                <img src="/static/images/logo.png" style="padding-right:6px;vertical-align:text-bottom;" />
                            </td>
                            <td>
                                <span style="font-size:24px;">GuessChat</span><br>
                                <span style="color:#888;">Connect with strangers by guessing their real identity.</span>
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
        </div>

        <div id="static_body">
            {% block static_body %}
            <div id="dynamic_body" style="">
            </div>
            <div id="fb-root"></div>
            {% endblock %}
        </div>

        {% block footer %}
        <div id="footer" style="margin-top:30px;">
            &copy; 2011 GuessChat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="mailto:liron@guesschat.net" style="color:#999;font-weight:normal;float:right">liron@guesschat.net</a>
        </div>
        {% endblock %}

        {{ '\n'.join(script_tags) | safe }}
        <script type="text/javascript">
            {% if script %}
                G.page.name = "{{ script }}";
            {% endif %}
            $(G.page.onLoad);
        </script>
        <script async type="text/javascript" src="/_ah/channel/jsapi"></script>
    </body>
</html>
